{% extends 'page_layout.html' %}


{% block content %}
<h1>Welcome, {{user_email}}!</h1>
<a href="http://localhost:8000/logout/">
    <button id="log-out">Logout</button>
</a>
<h3>Already have an account?</h3>
<a href="http://localhost:8000/login/">
    <button>Login</button>
</a>
<h3>Don't have an account?</h3>
<a href="http://localhost:8000/signup/">
    <button>Sign-up</button>
</a>
<h3>View To-Do List</h3>
<a href="http://localhost:8000/all_todos/">
    <button>View To-Do List</button>
</a>
{% endblock %}