{% extends 'page_layout.html' %}

{% block content %}
    <h1>Login!</h1>
        <label>Email</label>
        <input type="email" id="email" name="email" placeholder="Enter Email">
        <br></br>
        <label>Password</label>
        <input type="password" id="password" name="password" placeholder="Enter Password">
        <br></br>
        <button onclick="login()">Login</button>
        <h3>Don't have an account?</h3>
        <a href="http://localhost:8000/signup/">
            <button>Sign-up</button>
        </a>
{% endblock %}